.SplashScreen {
    width: 390px;
    height: 844px;
    position: relative;
    background: url('../images/splashscreen.png') no-repeat center center fixed;
    background-size: cover;
    /* Add any other styles you need for the SplashScreen class */
  }

  @font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff') format('woff'); /* Update the path */
    font-weight: normal;
    font-style: normal;
  }

  ion-button {
    --background: #C8FCEA;
    --background-hover: #658378;
    --background-activated: #C8FCEA;
    --background-focused: #C8FCEA;
  
    --color: #C8FCEA;
  
    --border-radius: 10px;
    --border-color: #bddfd3;
    --border-style: solid;
    --border-width: 1px;
  
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  
 
  
    --padding-top: 10px;
    --padding-bottom: 10px;
  }